@import url(http://fonts.googleapis.com/css?family=Neuton);

* { margin:0; padding:0; }

body
{
	background:#fffb00;
}

#wrapper
{
	position:relative;
	padding-top:10px;
	background:#0001ff url(../images/bg_top.png) top center repeat-x;
}

h1
{
	width:800px;
	margin:0 auto 10px;
}

h1 a
{
	display:block;
	height:200px;
	width:800px;
	background:transparent url(../images/header.png) top center no-repeat;
	text-indent:-10000px;
}

#content
{
	width:auto;
	min-height:245px;
	text-align:center;
	font:normal 18px/1.25em 'Neuton','Times New Roman',serif;
	color:#ffeeda;
}

#nav
{
	width:400px;
	margin:0 auto;
	list-style:none;
}

#nav li
{
	float:left;
	width:80px;
	text-align:center;
}

#nav a
{
	color:#fff;
}

#description
{
	clear:both;
}

#archive
{
	width:680px;
	margin:0 auto;
	padding:10px;
	background:rgba(0,1,255,0.5);
	list-style:none;
	border-radius:10px;
	webkit-border-radius:10px;
}

#archive li
{
	margin:0;
	padding:0;
	text-align:left;
	clear:both;
}

#archive li a
{
	display:block;
	width:540px;
	float:right;
}

#archive li .date
{
}

#footer
{
	width:100%;
	height:235px;
	background:transparent url(../images/bg_bottom.png) bottom center repeat-x;
}
