{% extends 'base.html' %}
{% block content %}
<h3 class="about">About</h3>
<div id="about" class="bubble">
	<div class="natalie">
		<img src="{{ MEDIA_URL }}images/nat.png" alt="Natalie Preston" />
		<p><strong>Natalie Preston</strong> paints all these things.</p>
		<p>She grew up in a stinky suburb outside of Philly where she first discovered the magical wondrous world of Lisa Frank. After graduating from Pratt Institute in 2009 with a BFA in painting and art history, she fled New York City and has been hiding in Athens, Ohio, getting her Masters Degree in painting. Natalie absolutely loves stickers, magic, neon colors, blood, gore, horror and murder mysteries. (She likes to think this keeps her well balanced.) Her love of dolphins, goldfish, glitter, sparkles, and jinglies is not a love she has time to often express, but when she's not teaching, working as a gallery assistant, and planning weddings for lesbian porn stars she can probably be found covered in glitter in an abandoned asylum.</p>
		<p>Natalie's "serious" work can be found at <a href="http://nataliepreston.net">nataliepreston.net</a>, but she insists that website makes her look too professional. If you want to support her, you can go to <a href="http://www.etsy.com/shop/WonderTreasures">her Etsy shop</a> and buy something that she made with her fingers, which are probably done up with her toenails matchin'.</p>
	</div>
	<div class="joe">
		<img src="{{ MEDIA_URL }}images/joe.png" alt="Joe Friedl" />
		<p><strong>Joe Friedl</strong> writes these things, poses the animals, and casts the spells that makes the website.</p>
		<p>He is a wizard from a not-very-enchanted forest called Wisconsin. He wandered the forest for over two decades, searching for sources of new magic. He failed and became a web developer.</p>
		<p>Since 2008, he makes the Internet. In 2010, he rode a unicorn to the land of Ohio, where he breathes pure glitter and makes so many Internets all the time. He can be found and talked at through a <a href="http://joefriedl.net">magical portal</a>.</p>
	</div>
</div>
{% endblock %}
