{% extends 'base.html' %}
{% block title %} in "{{ comic.title }}"{% endblock %}
{% block content %}
{% if comic.next %}<a href="{{ comic.next.get_absolute_url }}">{% endif %}
<img class="comic" src="{{ MEDIA_URL }}{{ comic.image }}" alt="Zombie Walrus Detective in &quot;{{ comic.title }}&quot;" title="Zombie Walrus Detective in &quot;{{ comic.title }}&quot;" />
{% if comic.next %}</a>{% endif %}
<ul id="nav">
	<li class="first">{% if first_comic %}<a href="{% url comic first_comic.pk %}">First</a>{% else %}First{% endif %}</li>
	<li class="prev">{% if comic.previous %}<a href="{{ comic.previous.get_absolute_url }}">Previous</a>{% else %}Previous{% endif %}</li>
	<li class="archive"><a href="{% url archive %}">Archive</a></li>
	<li class="next">{% if comic.next %}<a href="{{ comic.next.get_absolute_url }}">Next</a>{% else %}Next{% endif %}</li>
	{% if latest_comic %}
	<li class="latest"><a href="{% url comic latest_comic.pk %}">Latest</a>{% else %}Latest{% endif %}</li>
</ul>
<div class="meta bubble">
	{% if comic.description %}
	<div class="description">{{ comic.description }}</div>
	{% endif %}
	<div class="data">
		<span class="date">{{ comic.date|date:comic.date_format }}</span>
		<a href="{{ comic.get_absolute_url }}">Permalink</a>
		<a href="{{ comic.get_absolute_url }}" id="share_button">Share</a>
	</div>
	<div id="share" class="bubble">
		<div>
			<g:plusone href="http://zombiewalrusdetective.com{{ comic.get_absolute_url }}" size="small"></g:plusone>
			<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
			</script>
		</div>
		<div>
			<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://zombiewalrusdetective.com{{ comic.get_absolute_url }}" data-count="horizontal" data-via="grampajoe" data-related="nataliepee">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		</div>
	</div>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/share.js"></script>
</div>
{% endblock %}
