<!DOCTYPE html>
<html>
<head>
	<title>{% block pretitle %}{% endblock %}Zombie Walrus Detective{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
	<link rel="icon" href="{{ MEDIA_URL }}images/icon_32.png" sizes="32x32" />
	<link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon" />
	<meta name="keywords" content="zombie,walrus,detective,comic,webcomic,pretty,sparkles" />
	<meta name="description" content="Zombie Walrus Detective is a weekly webcomic by Joe Friedl and Natalie Preston." />
</head>
<body>
<div id="wrapper">
	<h1><a href="{% url home %}">Zombie Walrus Detective</a></h1>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<div id="footer"><p class="bubble">Copyright 2011 Joe Friedl and Natalie Preston.
		<a href="{% url home %}">Home</a>
		<a href="{% url about %}">About</a>
		<a href="{% url archive %}">Archive</a>
		<a href="{% url rss %}">RSS</a>
		<a href="{% url atom %}">Atom</a>
	</p></div>
</div>
<script type="text/javascript">
<!--
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-3086143-12']);
_gaq.push(['_trackPageview']);

(function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
//-->
</script>
</body>
</html>
