<!DOCTYPE html>
<html>
<head>
	<title>{% block pretitle %}{% endblock %}Zombie Walrus Detective{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
	<link rel="icon" href="{{ MEDIA_URL }}images/icon_32.png" sizes="32x32" />
	<link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon" />
	<meta name="keywords" content="zombie,walrus,detective,zombie walrus detective,comic,webcomic,pretty,sparkles" />
	<meta name="description" content="Zombie Walrus Detective is an irregular webcomic by Joe Friedl and Natalie Preston." />
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.2.min.js"></script>
</head>
<body>
<div id="wrapper">
	<h1><a href="{% url home %}">Zombie Walrus Detective</a></h1>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<div id="footer"><p class="bubble">Copyright 2011 Joe Friedl and Natalie Preston.
		<a href="{% url home %}">Home</a>
		<a href="{% url about %}">About</a>
		<a href="{% url archive %}">Archive</a>
		<a href="{% url contact %}">Contact</a>
		<a href="{% url rss %}">RSS</a>
		<a href="{% url atom %}">Atom</a>
	</p></div>
</div>
</body>
</html>
