<!DOCTYPE html>
<html>
<head>
	<title>Zombie Walrus Detective{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
	<link rel="icon" href="{{ MEDIA_URL }}images/icon_32.png" sizes="32x32" />
	<link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="wrapper">
	<h1><a href="{% url home %}">Zombie Walrus Detective</a></h1>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<div id="footer"><p class="bubble">Copyright 2011 Joe Friedl and Natalie Preston. <a href="{% url home %}">Home</a> <a href="{% url archive %}">Archive</a> <a href="{% url about %}">About</a></p></div>
</div>
</body>
</html>
