{% extends 'base.html' %}
{% load cache %}
{% block title %} in "{{ comic.title }}"{% endblock %}
{% block content %}
{% if comic.next %}<a href="{{ comic.next.get_absolute_url }}">{% endif %}
    {% cache 600 comic_image comic.get_absolute_url %}
    <img width="{{ comic.image.width }}" height="{{ comic.image.height }}" class="comic" src="{{ comic.image.url }}" alt="Zombie Walrus Detective in &quot;{{ comic.title }}&quot;" title="Zombie Walrus Detective in &quot;{{ comic.title }}&quot;" />
    {% endcache %}
{% if comic.next %}</a>{% endif %}
<ul id="nav">
	<li class="first">{% if first_comic %}<a href="{{ first_comic.get_absolute_url }}">First</a>{% else %}First{% endif %}</li>
	<li class="prev">{% if comic.previous %}<a href="{{ comic.previous.get_absolute_url }}">Previous</a>{% else %}Previous{% endif %}</li>
	<li class="archive"><a href="{% url archive %}">Archive</a></li>
	<li class="next">{% if comic.next %}<a href="{{ comic.next.get_absolute_url }}">Next</a>{% else %}Next{% endif %}</li>
	{% if latest_comic %}
	<li class="latest"><a href="{{ latest_comic.get_absolute_url }}">Latest</a>{% else %}Latest{% endif %}</li>
</ul>
<div class="meta bubble">
	{% if comic.description %}
	<div class="description">{{ comic.description|safe }}</div>
	{% endif %}
	<div class="data">
		<span class="date">{{ comic.date|date:comic.date_format }}</span>
		<a href="{{ comic.get_absolute_url }}">Permalink</a>
	</div>
</div>
{% endblock %}
